In [3]:
import pandas as pd
df=pd.read_csv("number-of-deaths.csv")
df.head()

,causeofdeath,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,空气污染,4.63,4.67,4.71,4.76,4.80,4.77,4.77,4.78,4.88,4.86,4.90
1,室外空气污染,2.81,2.89,2.96,3.04,3.12,3.09,3.14,3.18,3.32,3.32,3.41
2,室内空气污染,1.96,1.93,1.90,1.87,1.83,1.82,1.77,1.74,1.71,1.70,1.64

In [4]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [5]:
df.columns

Index(['causeofdeath', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017'],
      dtype='object')

In [8]:
dfc = df.set_index("causeofdeath")
dfc.head()

              2007  2008  2009  2010  2011  2012  2013  2014  2015  2016  2017
causeofdeath
空气污染          4.63  4.67  4.71  4.76  4.80  4.77  4.77  4.78  4.88  4.86  4.90
室外空气污染        2.81  2.89  2.96  3.04  3.12  3.09  3.14  3.18  3.32  3.32  3.41
室内空气污染        1.96  1.93  1.90  1.87  1.83  1.82  1.77  1.74  1.71  1.70  1.64

In [9]:
dfc.index

Index(['空气污染', '室外空气污染', '室内空气污染'], dtype='object', name='causeofdeath')

In [10]:
dfc.columns

Index(['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017'],
      dtype='object')

In [11]:
[int(x) for x in dfc.columns]

[2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

In [12]:
dfc.loc["空气污染",:]

2007    4.63
2008    4.67
2009    4.71
2010    4.76
2011    4.80
2012    4.77
2013    4.77
2014    4.78
2015    4.88
2016    4.86
2017    4.90
Name: 空气污染, dtype: float64

In [13]:
dfc.loc["空气污染",:].name

'空气污染'

In [14]:
dfc.loc["空气污染",:].values

array([4.63, 4.67, 4.71, 4.76, 4.8 , 4.77, 4.77, 4.78, 4.88, 4.86, 4.9 ])

In [15]:
dfc.loc["空气污染",:].index

Index(['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017'],
      dtype='object')

In [18]:
import plotly as py
from plotly.graph_objs import Scatter,Layout

kqwr = Scatter(
    x=[int(x) for x in dfc.columns],
    y=dfc.loc["空气污染",:].values
)

In [19]:
swkqwr = Scatter(
    x=[int(x) for x in dfc.columns],
    y=dfc.loc["室外空气污染",:].values
)

In [20]:
snkqwr = Scatter(
    x=[int(x) for x in dfc.columns],
    y=dfc.loc["室内空气污染",:].values
)

In [21]:
kqwr = Scatter(
    x=[int(x) for x in dfc.columns],
    y=dfc.loc["空气污染",:].values,
    name = "空气污染"
)

swkqwr = Scatter(
    x=[int(x) for x in dfc.columns],
    y=dfc.loc["室外空气污染",:].values,
    name = "室外空气污染"
)

snkqwr = Scatter(
    x=[int(x) for x in dfc.columns],
    y=dfc.loc["室内空气污染",:].values,
    name = "室内空气污染"
)

In [22]:
import pandas as pd
dfe=pd.read_csv("number-of-deaths.csv",index_col=0)
dfe.head()

              2007  2008  2009  2010  2011  2012  2013  2014  2015  2016  2017
causeofdeath
空气污染          4.63  4.67  4.71  4.76  4.80  4.77  4.77  4.78  4.88  4.86  4.90
室外空气污染        2.81  2.89  2.96  3.04  3.12  3.09  3.14  3.18  3.32  3.32  3.41
室内空气污染        1.96  1.93  1.90  1.87  1.83  1.82  1.77  1.74  1.71  1.70  1.64

In [23]:
dfe.columns = [int(x) for x in dfe.columns]
dfe.index = ['kqwr','swkqwr','snkqwr']
dfe.head()

        2007  2008  2009  2010  2011  2012  2013  2014  2015  2016  2017
kqwr    4.63  4.67  4.71  4.76  4.80  4.77  4.77  4.78  4.88  4.86  4.90
swkqwr  2.81  2.89  2.96  3.04  3.12  3.09  3.14  3.18  3.32  3.32  3.41
snkqwr  1.96  1.93  1.90  1.87  1.83  1.82  1.77  1.74  1.71  1.70  1.64

In [24]:
dfe.loc["kqwr",:]

2007    4.63
2008    4.67
2009    4.71
2010    4.76
2011    4.80
2012    4.77
2013    4.77
2014    4.78
2015    4.88
2016    4.86
2017    4.90
Name: kqwr, dtype: float64

In [41]:
import plotly as py
import plotly.graph_objs as go

kqwr = go.Scatter(
    x=[pd.to_datetime('01/01/{y}'.format(y=x), format="%m/%d/%Y") for x in dfe.columns.values],
    y=dfe.loc["kqwr",:].values,
    name = "空气污染"
)

swkqwr = go.Scatter(
    x=[pd.to_datetime('01/01/{y}'.format(y=x), format="%m/%d/%Y") for x in dfe.columns.values],
    y=dfe.loc["swkqwr",:].values,
    name = "室外空气污染"
)

snkqwr = go.Scatter(
    x=[pd.to_datetime('01/01/{y}'.format(y=x), format="%m/%d/%Y") for x in dfe.columns.values],
    y=dfe.loc["snkqwr",:].values,
    name = "室内空气污染"
)

layout = dict(xaxis=dict(rangeselector=dict( buttons=list([
                                                dict(count=3,
                                                     label="3年",
                                                     step="year",
                                                     stepmode="backward"),
                                                dict(count=5,
                                                     label="5年",
                                                     step="year",
                                                     stepmode="backward"),
                                                dict(count=10,
                                                     label="10年",
                                                     step="year",
                                                     stepmode="backward"),
                                                dict(count=20,
                                                     label="20年",
                                                     step="year",
                                                     stepmode="backward"),
                                                dict(step="all")
                                            ])),
                         rangeslider=dict(bgcolor="#70EC57"),
                         title='年份'
                        ),
              yaxis=dict(title='世界死亡人数'),
              title="空气污染死亡人数对比折线图"               
             )

abc = dict(data=[kqwr,swkqwr,snkqwr], layout=layout)

In [42]:
py.offline.plot(abc, filename = "空气污染死亡人数对比折线图.html")

'空气污染死亡人数对比折线图.html'